@font-face {
  font-family: LemonMilk;
  src: url(LemonMilk.otf);
}

@font-face {
	font-family: oratorstd;
	src: url(OratorStd.otf);
}

@font-face {
	font-family: futuras;
	src: url(Futura.ttf);
}

.topBorder {
	background-color: #e0e0d1;
	box-shadow: 0px 5px 5px #b3b3b3;
	height: 5px;
	margin: 0;
}

header {
	padding : 15px;
	vertical-align: center;
	font-family: oratorstd;
}

.headerMenus td {
    width: 100000000px;
    text-align: right;
    padding: 0px;
}

.topBtn {
	color : grey;
	border-width: 0px;
	font-size: 20px;	
	border-radius: 0px;
}

.naviBtn {
	color : black;
	border-width: 0px;
	border-radius: 0px;
	font-size: 25px;
	height: 40px;
}

.topSpecial {
	border-right-width: 3px;
}

#collapse {
	text-align: right;
}


#activeNav {
	border-style: solid;
	border-bottom-width: 5px;
	border-top-width: 0px;
	border-left-width: 0px;
	border-right-width: 0px;
	border-color: yellow;
}

.upBtn {
	z-index: 99999999;
	text-align: center;
	vertical-align: center;
	position: fixed;
	border-radius: 50%;
	border-width: 0px;
	width: 30px;
	height: 30px;
	padding: 0px;
	right: 10px;
	bottom: 10px;
	opacity: 0.5;
	border-color: black;
}

.upBtn:hover {
	opacity: 1;
}

.upBtn > img {
	width: 20px;
	height: 20px;
}

#footerTop {
	background-color: #191919;
	text-align: center;
	padding-top : 35px;
	padding-bottom: 35px;
}

#footerBtm {
	background-color: black;
	text-align: center;
	left : 0px;
	right: 0px;
	bottom: 0px;
	color : #D9D9D9;
	padding-top: 25px;
	padding-bottom: 25px;
	font-family: serif;
}

.footerBtn {
	border-radius: 50%;
	background-color: #191919;
	width: 40px;
	height: 40px;
	border-style: solid;
	border-color: #D9D9D9;
	border-width: 3px;
}

.footerBtn:hover {
	-webkit-animation-name: spin; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 1s; /* Chrome, Safari, Opera */
    animation-name: spin;
    animation-duration: 1s;
}

.home {
	background-color: white;
}

#homeSlider {
	background-color: black;
	width: 100%;
	height: 500px;
	box-shadow: 0px 7px 7px #808080;
}

#homeSlider > .carousel-inner > .item > img {
	width: 100%;
	height: 500px;
	box-shadow: 0px 7px 7px #b3b3b3;
}
#homeSlider > .carousel-control.left, #homeSlider > .carousel-control.right {
    background-image: none;
}

#homeSlider > .carousel-indicators {
   bottom: 0px;
}

.carousel-fade .carousel-inner .item {
  opacity: 0;
  transition-property: opacity;
}

.carousel-fade .carousel-inner .active {
  opacity: 1;
}

.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}

.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}

.carousel-fade .carousel-control {
  z-index: 2;
}

@media all and (transform-3d), (-webkit-transform-3d) {
    .carousel-fade .carousel-inner > .item.next,
    .carousel-fade .carousel-inner > .item.active.right {
      opacity: 0;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.prev,
    .carousel-fade .carousel-inner > .item.active.left {
      opacity: 0;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.next.left,
    .carousel-fade .carousel-inner > .item.prev.right,
    .carousel-fade .carousel-inner > .item.active {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
}

#wrapperHome {
	padding: 30px 0px;
}

#cp {
	height: 470px;
	background-color: #fde25f;
	border: solid #fddc35 3px;
	border-radius: 10px;
	padding: 70px 30px;
}

#cp table {
	margin: 0 auto;
}

.cpTitle {
	text-align: center;
	font-family: LemonMilk;
	font-size: 40px;
}

.cpTitle2 {
	padding-top: 10px;
	text-align: right;
	font-family: oratorstd;
	font-size: 30px;
}

.teleponCp, .namaCp, .alamatEmailCp{
	padding: 5px 0px;
	font-family: oratorstd;
	font-size: 16px;
}

.namaCp, .alamatEmailCp {
	text-align: right;
}

.logoEmailCp img{
	width: 60px; 
	height: 40px;
}

@media only screen and (max-width: 992px) {
	/* #contactPerson, #cpBoxes {
		height: 300px;
	}
	
	#contactPerson {
		padding-right: 25px;
		padding-left: 25px;
		margin-bottom: 25px;
	}
	
	#cpBoxes{
		padding-top: 0px;
		padding-right: 75px;
		padding-left: 75px;
		border-right-style: none;
		border-bottom-style: solid;
		border-bottom-color: #ccccff;
	} */
}

@media only screen and (max-width: 447px) {
/* 	#contactPerson, #cpBoxes {
		height: 340px;
	}
	
	#cpBoxes{
		padding-top: 0px;
		padding-right: 10px;
		padding-left: 10px;
	} */
}

#about {
	overflow: auto;
	background-color: #fde25f;
	height: 470px;
	padding: 50px 70px;
	border: solid #fddc35 3px;
	border-radius: 10px;
}

.aboutTitle {
	text-align: center;
	font-family: LemonMilk;
	font-size: 40px;
}

#aboutContent {
	padding-top: 16px;
	font-family: futuras;
	text-align: justify;
	font-size: 16px;
}

@media screen and (max-width:1150px) {	
	#about {
		height: 470px;
		padding-top: 20px;
	}
}

@media only screen and (max-width: 1065px) {
    .naviBtn {
    	font-size: 15px;
    }
    .topBtn {
    	font-size: 15px;
    }
    .upBtn {
    	width: 20px;
    	height: 20px;
    }
    .upBtn > img {
    	width: 15px;
    	height: 15px;
    }

	#homeSlider, #homeSlider > .carousel-inner > .item > img {
		height: auto;
	}
}

.spaceHome {
	height: 25px;
}

#testimonialBox {
	margin: 0 auto;
	background-color: #fde25f;
	min-height: 200px;
	padding: 40px 30px;
	border: solid #fddc35 3px;
	border-radius: 10px;
}

.testiName {
	text-align: center;
	font-family: LemonMilk;
	font-size: 35px;
}

.testiContent {
	text-align: center;
	font-family: oratorstd;
	font-size: 17px;
	padding: 10px 7vw;
}

#testimonialBox > .carousel-control.left,#testimonialBox > .carousel-control.right {
    background-image: none;
}


#testimonialBox > .carousel-indicators {
   bottom: 0px;
}

#testimonialBox > .carousel-indicators li {
	background-color: #ffd599;
	border-color: #b3ffff;
}
#testimonialBox > .carousel-indicators .active {
    background-color: #b3ffff;
}


/* Chrome, Safari, Opera */
@-webkit-keyframes spin {
    100% { -webkit-transform: rotate(360deg); }
}

/* Standard syntax */
@keyframes spin {
	100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); }
}