@font-face {
  font-family: LemonMilk;
  src: url(LemonMilk.otf);
}

@font-face {
  font-family: futuras;
  src: url(futura.ttf);
}


.container-fluid {
	background-color: #f5f5ef;
	padding-top: 2.5vw;
}

.postNews {
	background-color: white;
	box-shadow: 0px 7px 7px #b3b3b3;
	/* border-top: solid #d9d9d9 1px; */
	
	-moz-transition: all 1s ease;
	-webkit-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
	
	-moz-transform: translate3d(-5vw, 0px, 0px);
	-webkit-transform: translate3d(-5vw, 0px, 0px);
	-o-transform: translate(-5vw, 0px);
	-ms-transform: translate(-5vw, 0px);
	transform: translate3d(-5vw, 0px, 0px);
}

.postNews.showContent {
	-moz-transform: translate3d(0px, 0vw, 0px);
	-webkit-transform: translate3d(0px, 0vw, 0px);
	-o-transform: translate(0px, 0vw);
	-ms-transform: translate(0px, 0vw);
	transform: translate3d(0px, 0vw, 0px);
}

.imgNews {
	padding: 15px 30px;
}

.imgNews > img {
	width: 220px;
	height: 200px;
}

.infoNews {
	text-align: justify;
}
		
.titleNews {
	text-align: left;
	padding-top: 25px;
	padding-bottom: 15px;
	padding-left: 160px;
	padding-right: 30px;
}

.titleNews > h2 {
	font-family: montserrat;
	margin-top: 0px;
	letter-spacing: -2px;
}

.snippetNews {
	padding-left: 160px;
	padding-right: 30px;
	text-align: justify;
	font-family: futura;
	font-size: 17px;
}

.readMoreNews {
	padding-top: 25px;
	padding-bottom: 15px;
	text-align: right;
	padding-right: 30px;
	font-family: montserrat;

}

.readMoreNews button {
	background-color: white;
	border: none;
	color: black;
	font-size: 25px;
	width: 170px;
	transition: all 0.5s;
	cursor: pointer;
}

.readMoreNews button:focus {
	outline: 0;
}

.readMoreNews button span {
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: 0.5s;
}

.readMoreNews button span:after {
	font-family: "Glyphicons Halflings";
	font-size: 15px;
	content: "\e258";
	position: absolute;
	opacity: 0;
	top: 27%;
	right: -20px;
	transition: 0.5s;
}

.readMoreNews button:hover span {
	padding-right: 22px;
}

.readMoreNews button:hover span:after {
	opacity: 1;
	right: 0;
}

.newsSpace {
	height: 35px;
}

@media only screen and (max-width: 768px) {
	.postNews {
		height: auto;
	}
	
	.imgNews {
		text-align: center;
		padding-right: 20px;
		padding-left: 20px;		
	}
	
	.titleNews {
		text-align: center;
		padding-top: 10px;
		padding-right: 20px;
		padding-left: 20px;
	}
	
	.snippetNews {
		height: auto;
		padding-left: 20px;
		padding-right: 20px;
		padding-top: 7px;
		text-align: justify;
	}
	
	.readMoreNews {
		padding-right: 20px;
	}	
}

#loadMoreNews {
	padding-top: 7px;
	font-family: montserrat;
	text-align: center;
	height: 100px;
}

#loadMoreNews button {
	background-color: #f5f5ef;
	color: black;
	border: none;
	width: 200px;
	height: 80px;
	font-size: 25px;
	transition: all 0.5s;
	cursor: pointer;
}

#loadMoreNews button:focus {
	outline: 0;
}

#loadMoreNews button span {
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: 0.5s;
}

#loadMoreNews button span:after {
	font-family: "Glyphicons Halflings";
	font-size: 20px;
	content: "\e259";
	position: absolute;
	opacity: 0;
	bottom: -19px;
	left: 60px;
	transition: 0.5s;
}

#loadMoreNews button:hover span {
	padding-bottom: 20px;
}

#loadMoreNews button:hover span:after {
	opacity: 1;
	bottom: -10px;
	left: 60px;
}
